.footer-container {
  background-color: #343a40;
  color: #ffffff;
  padding: 8px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;

  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px; /* Reduced padding */

    p {
      margin: 0;
      font-size: 0.8em; /* Slightly smaller font size */
    }
  }
}
